<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="debugLog" xsi:type="File" fileName="debugLog.txt" />
    <target name="releaseLog" xsi:type="File" fileName="Log.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Fatal" maxlevel="Error" writeTo="debugLog" />
    <logger name="*" minlevel="Warn" maxlevel="Trace" writeTo="releaseLog" />
  </rules>
</nlog>
